.tab {
    margin-left: 1.5rem;
    margin-top: 1rem;
    width: 15rem;
}

.mat-expansion-panel-header {
    flex-direction: row-reverse;
    user-select: none;
    padding: 0;
    height: 2rem;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-expansion-panel-header:hover {
    background-color: transparent !important;
}

.title {
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}