<div>

    <mat-accordion>

        <mat-expansion-panel class="mat-elevation-z0" hideToggle>

            <mat-expansion-panel-header #panelH (click)="panelH._toggle()">

                <mat-panel-title>

                    <mat-icon class="expansion-icon" (click)="togglePanel()">{{toggleDirection}}</mat-icon>

                    <mat-icon>donut_small</mat-icon>

                    <span class="title">{{project.name}}</span>

                </mat-panel-title>

            </mat-expansion-panel-header>

            <div *ngFor="let assembly of project.assemblies">
                <app-assembly [assembly]=assembly></app-assembly>
            </div>

            <div *ngFor="let part of project.parts">
                <app-part [part]=part></app-part>
            </div>

        </mat-expansion-panel>

    </mat-accordion>

</div>