<mat-icon *ngIf="hideComponents" (click)="toggleExpansion()">keyboard_arrow_down</mat-icon>

<mat-icon *ngIf="!hideComponents" (click)="toggleExpansion()">keyboard_arrow_right</mat-icon>

<mat-icon class="assembly">build_circle</mat-icon>
{{assembly.name}}

<ng-container *ngIf="hideComponents">

    <div>
        <ng-container *ngIf="assembly.assemblies">

            <mat-icon *ngIf="hideSubassemblies" (click)="toggleSubassemblies()">
                keyboard_arrow_down</mat-icon>

            <mat-icon *ngIf="!hideSubassemblies" (click)="toggleSubassemblies()">
                keyboard_arrow_right</mat-icon>

        </ng-container>

        <mat-icon class="subassembly">play_circle</mat-icon>Subbassemblies

        <ng-container *ngIf="assembly.assemblies && hideSubassemblies">
            <div *ngFor="let assembly of assembly.assemblies">
                <app-assembly [assembly]=assembly></app-assembly>
            </div>
        </ng-container>

    </div>

    <div>
        <mat-icon *ngIf="assembly.parts && hideParts" (click)="toggleParts()">keyboard_arrow_down</mat-icon>

        <mat-icon *ngIf="assembly.parts && !hideParts" (click)="toggleParts()">keyboard_arrow_right</mat-icon>

        <mat-icon class="part">savings</mat-icon>Parts

        <ng-container *ngIf="assembly.parts && hideParts">
            <div *ngFor="let part of assembly.parts">
                <app-part [part]=part></app-part>
            </div>
        </ng-container>
    </div>

    <div>
        <mat-icon *ngIf="assembly.steps && hideSteps" (click)="toggleSteps()">keyboard_arrow_down</mat-icon>

        <mat-icon *ngIf="assembly.steps && !hideSteps" (click)="toggleSteps()">keyboard_arrow_right</mat-icon>

        <mat-icon class="process">repeat_on</mat-icon>Processes

        <div *ngIf="assembly.steps && hideSteps">
            <div *ngFor="let step of assembly.steps">
                <app-step [step]=step></app-step>
            </div>
        </div>
    </div>

    <div>
        <mat-icon class="result">receipt</mat-icon>Result Details
    </div>

</ng-container>