div {
    margin-left: 1.5rem;
}

.assembly {
    color: rgb(180, 15, 15);;
}

.subassembly {
    color: rgb(255, 136, 0);;
}

.process {
    color: rgb(92, 232, 12);;
}

.result {
    color: rgb(34, 92, 10);;
}