.content-container {
    height: 100%;
}
  
.half-width {
    width: 45%;
}

.input-margin {
    margin: 0 1rem 1rem 1rem;
}

.card-title-margin {
    margin-bottom: 1rem;
}

.master-data {
    margin-right: 0;
}

.icon {
    margin-right: 2rem;
    color: #673ab7;
}

.textarea {
    width: 90%;
    margin: 1rem;
}

.general-information-container {
    margin: 1rem;
}

.actions-container {
    text-align: center;
}

.action-button {
    margin: 1rem;
}